<%- include('./partials/upper.ejs') %>
<style>
    .aboutUsContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        flex-direction: column;
    }
</style>

<div class="aboutUsContainer">
    <iframe frameborder="0" width="560" height="315" src="https://biteable.com/watch/embed/3696302/192823572d8008b4a791b9633cf840a9?autoplay=1" allowfullscreen="true" allow="autoplay"> </iframe>

</div>
<br><br>

<%- include('./partials/lower.ejs') %>