<%- include('./partials/upper.ejs') %>

<link rel="stylesheet" href="homeStyle.css">
<style>
    #imageDSA{
        background-image: url('https://cdn.programiz.com/sites/tutorial2program/files/tree_0.png');
        background-size: contain;
        background-color:aquamarine;
        background-repeat: no-repeat;
        height:100%;
    }
    #imageCN{
        background-image: url('https://www.tutorialspoint.com/computer_fundamentals/images/computer_networks.jpg');
        background-size: contain;
        background-color:rgb(255, 255, 255);
        background-repeat: no-repeat;
        height:100%;
    }
    #imageCPP{
        background-image: url('https://miro.medium.com/max/1000/1*BNtMfCtElm678SLZL8tPrQ.png');
        background-size: contain;
        background-color:rgb(255, 255, 255);
        background-repeat: no-repeat;
        height:100%;
    }
    #imageOS{
        background-image: url('https://howandwhat.net/wp-content/uploads/2017/07/Operating-system-300x235.jpg');
        background-size: contain;
        background-color:rgb(255, 255, 255);
        background-repeat: no-repeat;
        height:100%;
    }
    /* #cen{
        background-color: rgb(88, 137, 180);
    } */

    .bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}


@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
</style>


<center id="cen">
    
    <h1 style="color: rgb(255, 255, 255); text-align: center;margin-top: 30px; font-weight: 900;">All Tracks</h1>
    <hr>
    <div class="itemContainer">
      
        <div class="mainItems" id="striverDSASheet" onclick="location.href='/striverSheet'">
            <div>Striver DSA Sheet</div>
            <div id="imageDSA"></div>
        </div>
        <div class="mainItems" onclick="toastMessage('Coming soon!')">
            <div>C++ Interview Questions</div>
            <div id="imageCPP"></div>
        </div>
        <div class="mainItems" onclick="toastMessage('Coming soon!')">
            <div>Computer Networks</div>
            <div id="imageCN"></div>
        </div>
        <div class="mainItems" onclick="toastMessage('Coming soon!')">
            <div>Operating Systems</div>
            <div id="imageOS"></div>
        </div>

    </div>

</center>
<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<script>
        function toastMessage(message){
                return Toastify({
                        text:message,
                        duration: 3000,
                        newWindow: true,
                        close: true,
                        gravity: "top", // `top` or `bottom`
                        position: "center", // `left`, `center` or `right`
                        stopOnFocus: true, // Prevents dismissing of toast on hover
                            style: {
                            background:"linear-gradient(to right, #00b09b, #96c93d)",
                        },
                        onClick: function(){} // Callback after click
                        }).showToast();
                    }
</script>
<%- include('./partials/lower.ejs') %>