<%- include('./partials/upper.ejs') %>

<link rel="stylesheet" href="homeStyle.css">
<center>
    
    <h1 style="color: white;">All Tracks</h1>
    <div class="itemContainer">
      
        <div class="mainItems" onclick="location.href='/striverSheet'">Striver Sheet</div>
        <div class="mainItems">aptitude</div>
        <div class="mainItems">puzzles</div>
        <div class="mainItems">c++ interview questions</div>


    </div>

</center>

<%- include('./partials/lower.ejs') %>