
.itemContainer{
    border: 1px dashed white;
    margin-top: 30px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.mainItems{
    border: 1px solid rgb(0, 0, 0);
    margin: 20px;
    width: 290px;
    height:290px;
    display: flex;
    background: #cef300;
    font-size: 30px;
    cursor: pointer;
    flex-direction: column;
}
.mainItems>div{
    background-color: rgb(8, 3, 56);
    font-size: 25px;
    padding:5px;
    border: 1px solid black;
    color: white;
}
