<%- include('./graphPartials/templateStart') %>

<style>
    @media (max-width: 768px) {
        
    }
</style>

<h1 id="heading" style="margin-top: 40px; text-align: center;"> Breadth First Search on Adjacency List</h1>
<br>
<script src="https://gist.github.com/rudraWorks/a9d733ad6c8665c1dcabf3ecc4ab9ac5.js"></script>

<%- include('./graphPartials/templateEnd') %>
