<%- include('./graphPartials/templateStart') %>

<style>
    @media (max-width: 768px) {
        
    }
</style>

<h1 id="heading" style="margin-top: 40px; text-align: center;"> Breadth First Search on Adjacency Matrix</h1>
<br>
<script src="https://gist.github.com/rudraWorks/6c29e148eb78584ceeb742b81a534863.js"></script>
<%- include('./graphPartials/templateEnd') %>
