<%- include('./graphPartials/templateStart') %>

<style>
    @media (max-width: 768px) {
        
    }
</style>
<h1 id="heading"> Welcome to graph theory algorithms</h1>
<%- include('./graphPartials/templateEnd') %>
